body,
#__next,
html {
  width: 100svw;
  height: 100svh;
  padding: 0;
  margin: 0;
}

body {
  font-family: 'Darker Grotesque', 'DM Sans', sans-serif !important;
  font-optical-sizing: auto;
  background-color: var(--color-background);

  width: 100%;
  max-width: 480px;
  margin: 0 auto !important;
  height: 100svh;
}

.stripe-card {
  border: 1px solid #232792;
  border-radius: 4px;
  padding: 4px 6px;
}
