#env
NODE_ENV=

# bcrypt
SALT_ROUNDS=

# jwt
JWT_SECRET=

# database
POSTGRES_PASSWORD=
POSTGRES_USER=
POSTGRES_DB=
DATABASE_URL=

# cybrid
CYBRID_CLIENT_ID=
CYBRID_CLIENT_SECRET=
CYBRID_BANK_ACCOUNT_ID=
CYBRID_ORGANIZATION_ID=

# cybrid token endpoints
CYBRID_BANK_LEVEL_TOKEN_ENDPOINT=
CYBRID_CUSTOMER_LEVEL_TOKEN_ENDPOINT=

# cybrid subscription key
SIGNING_KEY=

# mailer
EMAIL_HOST=
EMAIL_PASS=
APP_EMAIL=

# redis
REDIS_HOST=
REDIS_PORT=

# currency rate API key
RATE_API_HOST=
RATE_API_KEY=


PAWAPAY_TOKEN=