#jwt
JWT_SECRET=

#database
DATABASE_URL=

#cybrid
CYBRID_CLIENT_ID=
CYBRID_CLIENT_SECRET=
CYBRID_BANK_LEVEL_TOKEN_ENDPOINT=
CYBRID_CUSTOMER_LEVEL_TOKEN_ENDPOINT=

#mailer
EMAIL_HOST=
EMAIL_PASS=
APP_EMAIL=
